.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#ccc;
}
.login form{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 3em;
}
.login .error {
     background: white;
     border-radius: 10px;
     padding: 1em;
     color:red;
 
}
.login > * {
   margin: 1em 0;
   min-width: 60vw;
}
